In [13]:
stocks_owned = {"stock_name":"AAPL",
                "purchased_at":129.87
               }

In [14]:
string = str(stocks_owned)

In [15]:
string

"{'stock_name': 'AAPL', 'purchased_at': 129.87}"

In [16]:
stocks_owned =  [{"stock_name":"AAPL",
                "purchased_at":129.87
               },
                {"stock_name":"TSLA",
                "purchased_at":100.87
               },
                {"stock_name":"AMZN",
                "purchased_at":159.87
               }]

In [18]:
for i in range(0,len(stocks_owned)):
    stocks_owned[i] = str(stocks_owned[i])

In [19]:
for item in stocks_owned:
    obj = eval(item)
    print("Stock name is ",obj['stock_name'])
    print("Purchased at price ",obj['purchased_at'])

Stock name is  AAPL
Purchased at price  129.87
Stock name is  TSLA
Purchased at price  100.87
Stock name is  AMZN
Purchased at price  159.87

In [ ]:

from iex import Stock, reference
from iexfinance.stocks import get_historical_data
from datetime import datetime
from time import sleep
import pandas as pd
import os
import iex
import csv

from pandas_datareader import data as pdr
import fix_yahoo_finance as yf

yf.pdr_override()

symbols = reference.symbols()['symbol']


failed_symbols = []


for i in range (0,len(symbols)):
    counter = i
    symbol = symbols[i]       

    
    print("counter is ", counter,"symbol is ",symbol)
    try:
        sleep(0.03)
        start_time = datetime(2014, 1, 1)
        end_time = datetime(2019, 6, 16)
#         df =  get_historical_data(symbol, start, end,output_format='pandas')
        df = pdr.get_data_yahoo(symbol,start_time,end_time)
        file_name = symbol+".csv"
        file_path  = os.path.join(os.getcwd(),"temp_data",file_name)
#         file_path = os.path.join(os.getcwd(),file_name)
        print(file_path)
        df.to_csv(file_path)
    except:
        print("Error occurred")
        failed_symbols.append(symbol)
        sleep(3)

In [73]:
full_list = pdr.get_iex_symbols()
full_list = full_list["symbol"]
full_list = full_list.tolist()


present_list = os.listdir("temp_data")
present_list = [ item[:-4] for item in present_list]


full_list_set = set(full_list)
present_list_set = set(present_list)

In [74]:
missing_symbols = full_list_set - present_list_set
missing_symbols = list(missing_symbols)

# Manager

In [161]:
import os
import subprocess
import time

from datetime import date,timedelta
from time import mktime
from iex import Stock, reference
from iexfinance.stocks import get_historical_data
from datetime import datetime
from time import sleep
import pandas as pd
import os
import iex
import csv


from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
yf.pdr_override()

In [162]:
def get_file_path(symbol):
    cwd = os.getcwd().split("/")[:-1]
    path = ("/").join(cwd)
    file_path = os.path.join(path,"stocks_data",symbol+".csv")
#     line = str(subprocess.check_output(['tail', '-1', file_path]))
#     line = line.split(",")[0][2:].split("-")
#     line = [int(item) for item in line]
#     last = date(line[0],line[1],line[2])
#     return last, file_path
    return "".join(file_path)

In [88]:
cwd = os.getcwd().split("/")[:-1]
path = ("/").join(cwd)
path = os.path.join(path,"stocks_data")

available_stocks = os.listdir(path)
# stocks = [stock[:-4]for stock in stocks]
# available_symbols = stocks
# available_stocks

In [156]:
# cwd = os.getcwd().split("/")[:-1]
# path = ("/").join(cwd)
# path = os.path.join(path,"stocks_data")
# available_stocks = os.listdir(path)
# available_stocks = [stock[:-4]for stock in available_stocks]


cwd = os.getcwd().split("/")[:-1]
path = ("/").join(cwd)
path = os.path.join(path,"stocks_data")
available_stocks = os.listdir(path)

available_stocks = [stock[:-4]for stock in available_stocks]

available_stocks.sort()


df = pd.read_csv(path + "/A.csv")

numpy.float64

In [164]:
cwd = os.getcwd().split("/")[:-1]
path = ("/").join(cwd)
path = os.path.join(path,"stocks_data")
available_stocks = os.listdir(path)

available_stocks = [stock[:-4]for stock in available_stocks]

available_stocks.sort()



for i in range(0,len(available_stocks)):
    
   
    current_symbol = available_stocks[i]
    today = datetime.today().date()
        
    try:
        sleep(1)
        current_stock =  Stock(current_symbol)
        price = current_stock.price()
        row = [str(today),0,0,0]
#         row.append(str(today))
#         row.append(0)
        row.append(price)
        row.append(0)
        row.append(0)    
        file_path = get_file_path(current_symbol)
        
        print(row,file_path,"\n\n")
        
    except:
        print("Error")
        i -= 1
        sleep(3)
        
        
    print(type(file_path))
    with open(file_path,'a') as f:
        writer = csv.writer(f)
        writer.writerow(row)
        



# for i in range (0,len(available_stocks)):
#     if i == 1:
#         break
        
#     current_symbol = available_symbols[i]
    
#     today = datetime.today().date()
#     print("i is ",i,current_symbol,today)    
    
#     try:
# #         start_date = last_date + timedelta(days=1)
# #         end_date = today
# #         print(start_date,end_date)
# #         df = pdr.get_data_yahoo(current_symbol,start_date,end_date)
# #         df.to_csv(file_path, mode='a', header=False)
# #         print(df)
# #         #df.to_csv(file_path, mode='a', header=False)
        
        
# #         sleep(0.05)        
#         current_stock =  Stock(current_symbol)
#         price = current_stock.price()
#         row = []
#         row.append(today)
#         row.append(price)
#         file_path = get_file_path(current_symbol)
        
#         print("Current symbol",current_symbol)
        
#         with open(file_path,'a') as f:
#             writer = csv.writer(f)
#             writer.writerow(row)

#     except:
#         print("Error occurred")
#         sleep(5)

https://api.iextrading.com/1.0/stock/A/price
['2019-04-16', 0, 0, 0, 80.4, 0, 0] /home/sourabh/Work/Course Work/Sem 2/SPE/project/SmartStocks/stocks_data/A.csv


<class 'str'>

In [20]:
aapl = iex.Stock("AAP")

# Handling exceptions for missing chart/description and table data

In [2]:
############## Handing description data

from bs4 import BeautifulSoup
import requests



base_url = "https://www.reuters.com/finance/stocks/companyProfile/"
url = base_url + "AAOI"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')
mydivs = soup.findAll("div", {"class": "moduleBody"})
data = mydivs[1].findChildren("p")[0].text
data

'Applied Optoelectronics, Inc., incorporated on March 25, 2013, is a vertically integrated provider of fiber-optic networking products, primarily for networking end markets, such as Internet data center, cable television (CATV), fiber-to-the-home (FTTH) and telecommunications (telecom). The Company designs and manufactures a range of optical communications products at varying levels of integration, from components, subassemblies and modules to turnkey equipment. To Internet-based (Web 2.0) data center operators, the Company supplies optical transceivers that plug into switches and servers within the data center and allow these network devices to send and receive data over fiber optic cables. The Company supplies a range of products, including lasers, transmitters and transceivers, and turnkey equipment, to the CATV market.'

In [3]:
################### Handling Table data
base_url = "https://www.reuters.com/finance/stocks/companyProfile/"
url = base_url + "AAOI"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

table = soup.findAll("div", {"class": "column2"})

In [4]:
table[0]

<div class="column2 gridPanel grid4">
<div id="div_gpt_mpu"><script>
gatherAd('div_gpt_mpu', [[300,250],[1,1],[300,600],[300,1050]], TR3.extractDartZone(), 'yes', 'mpu');
</script></div><div class="linebreak"></div>
<div class="module">
<div class="moduleHeader">
<h3>
					Company Address</h3>
</div>
<div class="moduleBody">
<div class="feature">
<h2>Applied Optoelectronics Inc</h2>
<p>13139 Jess Pirtle Blvd<br/>SUGAR LAND   TX   77478-2856<br/>
P: +1281.2951800<br/>F: +1302.6555049<br/></p>
</div>
</div>
</div>
<div class="linebreak"></div>
<div class="module">
<div class="moduleHeader">
<h3>
					Company Web Links</h3>
</div>
<div class="moduleBody">
<ul>
<li><a href="http://ao-inc.com/" target="_blank">Home Page</a></li>
</ul>
</div>
</div>
<div class="linebreak"></div>
<div class="module">
<div class="moduleHeader">
<h3>
<a href="/finance/stocks/companyOfficers?symbol=AAOI.A">
					Officers &amp; Directors</a>
</h3>
</div>
<div class="moduleBody">
<table border="0" cellpadding="1" cellspacing="0" class="dataTable" width="100%">
<tbody class="dataSmall">
<tr>
<th>Name</th>
<th>Compensation</th>
</tr>
<tr class="stripe">
<td><h2 class="officers">
<a class="link" href="/finance/stocks/officer-profile/AAOI.A/1906762">
							 Chih-Hsiang Lin</a>
</h2></td>
<td class="data">5,407,720</td>
</tr>
<tr>
<td><h2 class="officers">
<a class="link" href="/finance/stocks/officer-profile/AAOI.A/2262568">
							 Stefan Murry</a>
</h2></td>
<td class="data">1,410,920</td>
</tr>
<tr class="stripe">
<td><h2 class="officers">
<a class="link" href="/finance/stocks/officer-profile/AAOI.A/2448301">
							 Hung-Lun Chang</a>
</h2></td>
<td class="data">1,372,570</td>
</tr>
<tr>
<td><h2 class="officers">
<a class="link" href="/finance/stocks/officer-profile/AAOI.A/2448303">
							 Shu-Hua Yeh</a>
</h2></td>
<td class="data">1,457,150</td>
</tr>
<tr class="stripe">
<td><h2 class="officers">
<a class="link" href="/finance/stocks/officer-profile/AAOI.A/2448305">
							 David Kuo</a>
</h2></td>
<td class="data">840,469</td>
</tr>
</tbody>
</table>
<div class="moreLink">
<a href="/finance/stocks/companyOfficers?symbol=AAOI.A">» More Officers &amp; Directors</a></div></div>
</div>
<div class="module">
<div class="moduleHeader">
<h3>
<a href="/finance/stocks/companyNews?symbol=AAOI.A">
					Applied Optoelectronics Inc News</a>
</h3>
</div>
<div class="moduleBody">
<div class="moreLink">
<a href="/finance/stocks/companyNews?symbol=AAOI.A">» More AAOI.A  News</a></div></div>
</div>
<script>
	var topStoryGrid = $('#topStory').find('.grid8');
	if (topStoryGrid.hasClass('grid8')) {
	    if ($('#latestHeadlines')) {
	        $('#latestHeadlines').remove();
	    }
	};
</script>
<div id="div_gpt_mpulow"><script>
gatherAd('div_gpt_mpulow', [[300, 250],[300,600],[300,1050]], TR3.extractDartZone(), 'yes', 'mpulow');
</script></div>
</div>

# Transaction page

In [1]:

from iex import Stock, reference
from iexfinance.stocks import get_historical_data
from datetime import datetime
from time import sleep
import pandas as pd
import os
import iex
import csv

from pandas_datareader import data as pdr
import fix_yahoo_finance as yf

yf.pdr_override()

from IPython.display import HTML

In [2]:
aapl = Stock("AAPL")

In [4]:
chart_table = aapl.chart_table()

https://api.iextrading.com/1.0/stock/AAPL/chart/1m

In [6]:
chart_table

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,1.90,0.000000,1.021,188.02,2019-03-18,188.390,Mar 18,185.7900,185.800,26219832,26219832,187.6386
1,-1.49,-0.007925,-0.792,186.53,2019-03-19,188.990,Mar 19,185.9200,188.350,31646369,31646369,187.3795
2,1.63,0.000745,0.874,188.16,2019-03-20,189.490,Mar 20,184.7300,186.230,31035231,31035231,187.4231
3,6.93,0.037602,3.683,195.09,2019-03-21,196.330,Mar 21,189.8100,190.020,51034237,51034237,194.3327
4,-4.04,0.016115,-2.071,191.05,2019-03-22,197.690,Mar 22,190.7800,195.340,42407666,42407666,193.9065
5,-2.31,0.003829,-1.209,188.74,2019-03-25,191.980,Mar 25,186.6000,191.510,43845293,43845293,188.8254
6,-1.95,-0.006542,-1.033,186.79,2019-03-26,192.880,Mar 26,184.5800,191.664,49800538,49800538,189.3728
7,1.68,0.002393,0.899,188.47,2019-03-27,189.760,Mar 27,186.5500,188.750,29848427,29848427,188.4940
8,0.25,0.003723,0.133,188.72,2019-03-28,189.559,Mar 28,187.5300,188.950,20780363,20780363,188.3970
9,1.23,0.010265,0.652,189.95,2019-03-29,190.080,Mar 29,188.5400,189.830,23563961,23563961,189.4892
10,1.29,0.017126,0.679,191.24,2019-04-01,191.680,Apr 1,188.3800,191.640,27861964,27861964,190.2816
11,2.78,0.031911,1.454,194.02,2019-04-02,194.460,Apr 2,191.0500,191.090,22765732,22765732,193.0776
12,1.33,0.038985,0.685,195.35,2019-04-03,196.500,Apr 3,193.1500,193.250,23271830,23271830,195.2951
13,0.34,0.040794,0.174,195.69,2019-04-04,196.370,Apr 4,193.1400,194.790,19114275,19114275,195.6612
14,1.31,0.047761,0.669,197.00,2019-04-05,197.100,Apr 5,195.9300,196.450,18526644,18526644,196.6188
15,3.10,0.064248,1.574,200.10,2019-04-08,200.230,Apr 8,196.3400,196.420,25881697,25881697,198.9594
16,-0.60,0.061057,-0.300,199.50,2019-04-09,202.850,Apr 9,199.2300,200.320,35768237,35768237,200.9319
17,1.12,0.067014,0.561,200.62,2019-04-10,200.740,Apr 10,198.1800,198.680,21695288,21695288,199.5162
18,-1.67,0.058132,-0.832,198.95,2019-04-11,201.000,Apr 11,198.4431,200.850,20900808,20900808,199.7413
19,-0.08,0.057707,-0.040,198.87,2019-04-12,200.140,Apr 12,196.2100,199.200,27760668,27760668,198.3105
20,0.36,0.059621,0.181,199.23,2019-04-15,199.850,Apr 15,198.0100,198.580,17536646,17536646,198.9772
21,0.02,0.059728,0.010,199.25,2019-04-16,201.370,Apr 16,198.5600,199.460,25696385,25696385,199.9028
22,3.88,0.080364,1.947,203.13,2019-04-17,203.380,Apr 17,198.6100,199.540,28906780,28906780,201.8086
23,0.73,0.084246,0.359,203.86,2019-04-18,204.150,Apr 18,202.5200,203.120,24195766,24195766,203.5071

In [22]:
spread_table = aapl.effective_spread_table()

https://api.iextrading.com/1.0/stock/AAPL/effective-spread

In [26]:
HTML(spread_table[:5].to_html())

In [27]:
aapl.price()

https://api.iextrading.com/1.0/stock/AAPL/price

203.86

In [29]:
aapl.company()['companyName']

https://api.iextrading.com/1.0/stock/AAPL/company

'Apple Inc.'

In [42]:
aapl.financials_table()

https://api.iextrading.com/1.0/stock/AAPL/financials

,cashChange,cashFlow,costOfRevenue,currentAssets,currentCash,currentDebt,grossProfit,netIncome,operatingExpense,operatingGainsLosses,operatingIncome,operatingRevenue,reportDate,researchAndDevelopment,shareholderEquity,totalAssets,totalCash,totalDebt,totalLiabilities,totalRevenue
0,18858000000,26690000000,52279000000,140828000000,44771000000,21741000000,32031000000,19965000000,8685000000,None,23346000000,84310000000,2018-12-31,3902000000,117892000000,373719000000,86427000000,114730000000,255827000000,84310000000
1,-6058000000,19523000000,38816000000,131339000000,25913000000,20748000000,24084000000,14125000000,7966000000,None,16118000000,62900000000,2018-09-30,3750000000,107147000000,365725000000,66301000000,114483000000,258578000000,62900000000
2,-13088000000,14488000000,32844000000,115761000000,31971000000,17472000000,20421000000,11519000000,7809000000,None,12612000000,53265000000,2018-06-30,3701000000,114949000000,349197000000,70970000000,114600000000,234248000000,53265000000
3,17568000000,15130000000,37715000000,130053000000,45059000000,20478000000,23422000000,13822000000,7528000000,None,15894000000,61137000000,2018-03-31,3378000000,126878000000,367502000000,87940000000,121840000000,240624000000,61137000000

In [43]:

columns = ['reportDate','currentAssets','operatingIncome','grossProfit','totalLiabilities','totalRevenue']

table =aapl.financials_table()

filtered_table = table[columns]

filtered_table.columns

https://api.iextrading.com/1.0/stock/AAPL/financials

Index(['reportDate', 'currentAssets', 'operatingIncome', 'grossProfit',
       'totalLiabilities', 'totalRevenue'],
      dtype='object')

In [38]:
aapl.chart_table()

https://api.iextrading.com/1.0/stock/AAPL/chart/1m

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,1.90,0.000000,1.021,188.02,2019-03-18,188.390,Mar 18,185.7900,185.800,26219832,26219832,187.6386
1,-1.49,-0.007925,-0.792,186.53,2019-03-19,188.990,Mar 19,185.9200,188.350,31646369,31646369,187.3795
2,1.63,0.000745,0.874,188.16,2019-03-20,189.490,Mar 20,184.7300,186.230,31035231,31035231,187.4231
3,6.93,0.037602,3.683,195.09,2019-03-21,196.330,Mar 21,189.8100,190.020,51034237,51034237,194.3327
4,-4.04,0.016115,-2.071,191.05,2019-03-22,197.690,Mar 22,190.7800,195.340,42407666,42407666,193.9065
5,-2.31,0.003829,-1.209,188.74,2019-03-25,191.980,Mar 25,186.6000,191.510,43845293,43845293,188.8254
6,-1.95,-0.006542,-1.033,186.79,2019-03-26,192.880,Mar 26,184.5800,191.664,49800538,49800538,189.3728
7,1.68,0.002393,0.899,188.47,2019-03-27,189.760,Mar 27,186.5500,188.750,29848427,29848427,188.4940
8,0.25,0.003723,0.133,188.72,2019-03-28,189.559,Mar 28,187.5300,188.950,20780363,20780363,188.3970
9,1.23,0.010265,0.652,189.95,2019-03-29,190.080,Mar 29,188.5400,189.830,23563961,23563961,189.4892
10,1.29,0.017126,0.679,191.24,2019-04-01,191.680,Apr 1,188.3800,191.640,27861964,27861964,190.2816
11,2.78,0.031911,1.454,194.02,2019-04-02,194.460,Apr 2,191.0500,191.090,22765732,22765732,193.0776
12,1.33,0.038985,0.685,195.35,2019-04-03,196.500,Apr 3,193.1500,193.250,23271830,23271830,195.2951
13,0.34,0.040794,0.174,195.69,2019-04-04,196.370,Apr 4,193.1400,194.790,19114275,19114275,195.6612
14,1.31,0.047761,0.669,197.00,2019-04-05,197.100,Apr 5,195.9300,196.450,18526644,18526644,196.6188
15,3.10,0.064248,1.574,200.10,2019-04-08,200.230,Apr 8,196.3400,196.420,25881697,25881697,198.9594
16,-0.60,0.061057,-0.300,199.50,2019-04-09,202.850,Apr 9,199.2300,200.320,35768237,35768237,200.9319
17,1.12,0.067014,0.561,200.62,2019-04-10,200.740,Apr 10,198.1800,198.680,21695288,21695288,199.5162
18,-1.67,0.058132,-0.832,198.95,2019-04-11,201.000,Apr 11,198.4431,200.850,20900808,20900808,199.7413
19,-0.08,0.057707,-0.040,198.87,2019-04-12,200.140,Apr 12,196.2100,199.200,27760668,27760668,198.3105
20,0.36,0.059621,0.181,199.23,2019-04-15,199.850,Apr 15,198.0100,198.580,17536646,17536646,198.9772
21,0.02,0.059728,0.010,199.25,2019-04-16,201.370,Apr 16,198.5600,199.460,25696385,25696385,199.9028
22,3.88,0.080364,1.947,203.13,2019-04-17,203.380,Apr 17,198.6100,199.540,28906780,28906780,201.8086
23,0.73,0.084246,0.359,203.86,2019-04-18,204.150,Apr 18,202.5200,203.120,24195766,24195766,203.5071

In [55]:
stocks_owned = [
    
    {
      "stock_name": "AAPL",
        "purchased_at": 123.4
    },
    
    {
      "stock_name": "AMZN",
        "purchased_at": 193.4
    },
    
]

In [76]:
stocks_owned = str(stocks_owned)

In [77]:
stocks_owned

"[{'stock_name': 'AAPL', 'purchased_at': 123.4}, {'stock_name': 'AMZN', 'purchased_at': 193.4}]"

In [78]:
stocks_owned = eval(stocks_owned)

In [65]:
sell = False
for item in stocks_owned:
    if item['stock_name'] == stock_name:
        sell = True

AAPL
AMZN

In [66]:
bla = {}

In [67]:
bla["hello"] = "world"

In [73]:
bla

{'hello': 'world', 'gg': 'wp'}

In [69]:
bla["hello"] = "world"

In [72]:
bla['gg'] = "wp"

In [79]:
type(stocks_owned)

list

In [80]:
stocks_owned[1]['stock_name']

'AMZN'

In [2]:
aaxj = Stock("AAXJ")

In [3]:
aaxj

In [8]:
aaxj.price()

https://api.iextrading.com/1.0/stock/AAXJ/price

72.71

In [5]:
aapl = Stock("AAPL")

In [7]:
aapl.financials_table()

https://api.iextrading.com/1.0/stock/AAPL/financials

,cashChange,cashFlow,costOfRevenue,currentAssets,currentCash,currentDebt,grossProfit,netIncome,operatingExpense,operatingGainsLosses,operatingIncome,operatingRevenue,reportDate,researchAndDevelopment,shareholderEquity,totalAssets,totalCash,totalDebt,totalLiabilities,totalRevenue
0,18858000000,26690000000,52279000000,140828000000,44771000000,21741000000,32031000000,19965000000,8685000000,None,23346000000,84310000000,2018-12-31,3902000000,117892000000,373719000000,86427000000,114730000000,255827000000,84310000000
1,-6058000000,19523000000,38816000000,131339000000,25913000000,20748000000,24084000000,14125000000,7966000000,None,16118000000,62900000000,2018-09-30,3750000000,107147000000,365725000000,66301000000,114483000000,258578000000,62900000000
2,-13088000000,14488000000,32844000000,115761000000,31971000000,17472000000,20421000000,11519000000,7809000000,None,12612000000,53265000000,2018-06-30,3701000000,114949000000,349197000000,70970000000,114600000000,234248000000,53265000000
3,17568000000,15130000000,37715000000,130053000000,45059000000,20478000000,23422000000,13822000000,7528000000,None,15894000000,61137000000,2018-03-31,3378000000,126878000000,367502000000,87940000000,121840000000,240624000000,61137000000

In [12]:
aaxj.effective_spread_table()

https://api.iextrading.com/1.0/stock/AAXJ/effective-spread

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.957101,0.011205,0.000535,XBOS,Nasdaq BX,1235082
1,0.950532,0.011018,0.000402,XASE,NYSE American,16172
2,0.992009,0.010964,0.000066,XCIS,NYSE National,135695
3,0.950602,0.010316,0.000391,ARCX,NYSE Arca,1903296
4,0.954434,0.010130,0.000425,BATY,Cboe BYX,1162542
5,0.884314,0.010075,0.000994,EDGA,Cboe EDGA,522030
6,0.930345,0.009840,0.000555,XNYS,NYSE,284503
7,0.895968,0.009835,0.001071,XPHL,Nasdaq PSX,228523
8,0.875846,0.009803,0.001204,BATS,Cboe BZX,1687272
9,0.889737,0.009694,0.001324,EDGX,Cboe EDGX,1560234
10,0.830820,0.009286,0.001706,XNGS,Nasdaq,3840398
11,0.571353,0.007227,0.003225,IEXG,IEX,458897

In [13]:
aaxj.financials_table()

https://api.iextrading.com/1.0/stock/AAXJ/financials

KeyError: 'financials'

# News Data

In [2]:
import json
import urllib
import re
import requests
from bs4 import BeautifulSoup

In [3]:
base_url = "https://finance.yahoo.com/"
page = requests.get(base_url)
soup = BeautifulSoup(page.text, 'html.parser')

In [30]:
soup.findAll("li")[22]

<li class="js-stream-content" data-reactid="63"><div class="Py(14px) Pos(r)" data-reactid="64" data-test-locator="mega"><div class="Cf" data-reactid="65"><div class="Ov(h) Pend(14%) Pend(0)--sm1024" data-reactid="66"><div class="C(#959595) Fz(11px) D(ib) Mb(6px)" data-reactid="67"><span data-reactid="68">Reuters</span><i aria-hidden="true" class="Mx(4px)" data-reactid="69">•</i><span data-reactid="70">18 minutes ago</span></div><h3 class="Mb(5px)" data-reactid="71"><a class="Fw(b) Fz(20px) Lh(23px) Fz(17px)--sm1024 Lh(19px)--sm1024 Td(n) C(#0078ff):h C(#000) LineClamp(2,46px) LineClamp(2,38px)--sm1024" data-reactid="72" href="/news/nikkei-eases-caution-sets-earnings-064830313.html"><u class="StretchedBox" data-reactid="73"></u><!-- react-text: 74 -->Nikkei eases as caution sets in before earnings; Nissan plunges<!-- /react-text --></a></h3><p class="Fz(14px) Lh(19px) Fz(13px)--sm1024 Lh(17px)--sm1024 LineClamp(3,57px) LineClamp(3,51px)--sm1024 M(0)" data-reactid="75">Japan's Nikkei edged lower in choppy trade on Wednesday as investors stayed cautious before earnings results, but it remained around a 4-1/2-month high as sentiment was supported by a rally in U.S. stocks. Nissan Motor Co tumbled 4 percent after TV Tokyo reported on late Tuesday that it would announce a large cut to its earnings outlook for the fiscal year that ended in March due to weak sales in North America and China. After the market close, Nissan cut its earnings outlook and now expects a net profit of 390 billion yen, compared to previously forecast 410 billion yen.</p></div></div></div></li>